<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
  </configSections>
  <FineUI DebugMode="true" EnableFStateValidation="true" Language="en" AjaxTimeout="0" EnableAjax="true" />
  <appSettings>
    <add key="phs" value="Subak" />
	  <add key="ChartImageHandler" value="storage=memory;timeout=20;;deleteAfterServicing=true;" />
  </appSettings>
  <connectionStrings>
    <clear />
    <remove name="LocalSqlServer" />
    <remove name="LocalMySqlServer" />
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-TRFRM59O\SQLEXPRESS01; User ID=sa;Password=Pass@word1; Initial Catalog=werp; Connection TimeOut=1" providerName="System.Data.SqlClient" />
    <add name="DataPelanggan" connectionString="Data Source=LAPTOP-TRFRM59O\SQLEXPRESS; User ID=sa;Password=Pass@word1; Initial Catalog=DataPelanggan; Connection TimeOut=1" providerName="System.Data.SqlClient" />
    <add name="PCWin" connectionString="Data Source=LAPTOP-TRFRM59O\SQLEXPRESS; User ID=sa;Password=Pass@word1; Initial Catalog=ScadaNetDb; Connection TimeOut=1" providerName="System.Data.SqlClient" />
	<add name="CommLoss" connectionString="Data Source=LAPTOP-TRFRM59O\SQLEXPRESS01; User ID=sa;Password=Pass@word1; Initial Catalog=Commloss; Connection TimeOut=1" providerName="System.Data.SqlClient" />
    <!--<add name="DataPelanggan" connectionString="Data Source=34.101.252.151; User ID=sa;Password=Pass@word1; Initial Catalog=DataPelanggan; Connection TimeOut=0" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
		<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <httpHandlers>
      <add path="res.axd" verb="GET" type="FineUI.ResourceHandler, FineUI"
        validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" />
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.webServer>
	  <handlers>
		  <remove name="ChartImageHandler" />
		  <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	  </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>